:root {
/* Primary color palette */
--primary-color: #353a8d;
--accent-color: #40dd9c;
--neutral-color: #36385a;

/* Secondary color palette */
--secondary_1-color: #e2e3e9;
--secondary_2-color: #9c9db2;
--secondary_3-color: #60627d;
--secondary_4-color: #4b4d6c;
--secondary_5-color: #36385a;
--secondary_6-color: #222549;
--secondary_7-color: #d8eff0;
--secondary_8-color: #45888e;
--secondary_9-color: #10246a;

/* Semantic colors */
--success-100-color: #bfdbb3;
--success-500-color: #6aa64f;
--success-900-color: #3c7425;

--warning-100-color: #f2dea1;
--warning-500-color: #bd8e00;
--warning-900-color: #8f6b00;

--error-100-color: #eca8a7;
--error-500-color: #de6664;
--error-900-color: #b33a38;
}