@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,700;1,600&family=Libre+Franklin:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(201, 202, 202, 0.24);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1040px;
  height: 72px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(201, 202, 202, 0.24);
  padding: 0 12px 0 12px;
}

.photo {
  display: block;
  min-height: 200px;
}

.photo_albums,
.frames,
.personalized_products {
  cursor: pointer;
  border: 1px solid;
  border-radius: 8px;
  max-width: 331px;
  margin-bottom: 21px;
  flex-basis: calc(100% / 3);
}

.photo_albums:hover {
  box-shadow: var(--box-shadow-2);
  border-radius: var(--box-shadow-2-radius);
}

.frames:hover {
  box-shadow: var(--box-shadow-2);
  border-radius: var(--box-shadow-2-radius);
}

.personalized_products:hover {
  box-shadow: var(--box-shadow-2);
  border-radius: var(--box-shadow-2-radius);
}

.logo {
  
  display: flex;
  align-items: center;
  color: #222549;
  
}

.logo_frame > svg :nth-child(2){
  transform: translate(10px, 9.39px);
}

.logo_frame > svg :nth-child(3) {
  transform: translate(14.9px, 12px);
}

.logo_frame > svg :nth-child(4) {
  transform: translate(18.5px, 14px);
}

.logo_frame {
  margin-right: 1rem;
}

.menu {
  display: flex;
  margin: 0 24px;
  flex-basis: calc(100% / 2);
  justify-content: space-between;
  align-items: center;
}

.menu .menu_btn {
  font-weight: var(--h1-font-weight);
  font-size: var(--body2-font-size);
  color: var(--primary-color);
  padding: 8px 16px 8px 16px;
  letter-spacing: 1px;
  font-family: var(--font-family-franklin);
}

.menu .menu_btn:hover {
  background-color: #f3f4f8;
  cursor: pointer;
}

.menu .menu_btn:active {
  background-color: #cfd3e1;
  border-radius: 4px;
}


.menu_bars {
  width: 19px;
  height: 16px;
  color: var(--primary-color);
  padding: 8px;
  display: none;
}

.submenu {
  display: flex;
  align-items: center;
  max-width: 1040px;
  margin: 0 auto;
}

.home {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 16px;
  color: var(--primary-color);
}
.home .home_btn {
  padding: 8px;
  border-radius: 4px;
}
.home .home_btn:hover {
  background-color: #F3F4F8;
}
.home .home_btn:active {
  background-color:  #CFD3E1;
}


.return {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  color: var(--primary-color);
}
.submenu .return:hover {
  background-color: #F3F4F8;
}
.submenu .return:active {
  background-color: #CFD3E1;
}



.products {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  max-width: 1040px;
  justify-content: space-between;
  margin: 0 auto;
}
.products .body1_text {
  padding: 0 8px 8px 0;
  font-weight: var(--h4-font-weight);
  color: var(--primary-color);
}
.products .body2_text {
  padding: 8px 8px 54px 16px;
}

.about {
  padding-top: 106px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1040px;
  margin: 0 auto;
}

.product_related {
  width: 571px;
  height: 176px;
}
.footer {
  max-width: 1400px;
  background-color: #f8f8f9;
  margin-top: 112px;
  padding: 24px 56px 24px 56px;
}
.contact_us {
  margin: 0 auto;
  max-width: 1040px;
  display: flex;
  justify-content: space-between;
}
.contact_us  {
   display: flex;
   max-width: 1040px;
  justify-content: space-between; 
  margin: 0 auto;
  padding: 24px 56px 24px 56px;
}
.contact_us .shop *:hover {
  background-color: var(--secondary_1-color);
  transition: 0.1s ease;
  border-radius: 4px;
  cursor: pointer;
}

.contact_us .shop *:active {
  background-color: #cfd3e1;
}

.contact_us .orders *:hover {
  background-color: var(--secondary_1-color);
  transition: 0.1s ease;
  border-radius: 4px;
  cursor: pointer;
}

.contact_us  .orders *:active {
  background-color: #cfd3e1;
}

.contact_us .shop :nth-child(1) {
  margin-bottom: 8px;
}
.contact_us .shop :nth-child(1) {
  color: var(--secondary_9-color);
  font-weight: var(--h3-font-weight);
}
.contact_us .orders :nth-child(1) {
  margin-bottom: 8px;
}
.contact_us .orders :nth-child(1) {
  color: var(--secondary_9-color);
  font-weight: var(--h3-font-weight);
}

.social_media {
  display: flex;
  margin-top: 8px;
  margin-bottom: 27px;
}
.social_media * {
  flex-basis: calc(100% / 4);
}
.apps {
  display: flex;
  margin-top: 8px;
}
.apps * {
  flex-basis: calc(100% / 4);
}

.copyright {
  text-align: center;
  font-weight: 500;
  color: #60627d;
  letter-spacing: 0.2rem;
  font-size: 9px;
  line-height: 11px;
  padding: 8px 0 8px 0;
}

/* albums.html */
.product_items {
  max-width: 1040px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 32px;
}

.product_items .idle_btn {
  font-weight: 600;
  color: var(--primary-color);

}

.albums_products {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  max-width: 1040px;
  justify-content: space-evenly;
  margin: 0 auto;
}
.albums_products .body1_text {
  padding: 0 8px 8px 0;
  font-weight: var(--h4-font-weight);
  color: var(--primary-color);
}
.albums_products .body2_text {
  padding: 8px 8px 8px 16px;
}

.albums {
  flex-basis: calc(100% / 3);
  cursor: pointer;
  border: 1px solid;
  border-radius: 8px;
  max-width: 331px;
  margin-bottom: 48px;
}

.albums:hover {
  box-shadow: var(--box-shadow-2);
  border-radius: var(--box-shadow-2-radius);
}

/* Leather_products.html */
a {
  text-decoration: none;
  color: var(--primary-color);
}
.leather {
  display: flex;
  max-width: 1040px;
  margin: 0 auto; 
}



.price_buy .show_more {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  color: var(--primary-color);
}
.price_buy ul {
  padding: 8px 8px 8px 8px;
}

.price_buy .cart_button_normal {
  margin-top: 24px;
}

.similar .albums_leather {
  margin-top: 24px;
}


.leather_album .img {
  margin-bottom: 72px;
  
}
.leather_album * {
  color: var(--secondary_6-color);
}
.question * {
  max-width: 1040px;
  color: var(--secondary_6-color);
  margin: 0 auto;
  padding: 24px 8px 8px 0;
}


.albums_leather {
  flex-basis: calc(100% / 4);
  cursor: pointer;
  border: 1px solid;
  border-radius: 8px;
  max-width: 247px;
  margin-bottom: 48px;
  background-color: #ffffff;
}

.albums_leather:hover {
  box-shadow: var(--box-shadow-2);
  border-radius: var(--box-shadow-2-radius);
}

.albums_leather .body1_text {
  padding: 0 8px 8px 0;
  font-weight: var(--h4-font-weight);
  color: var(--primary-color);
}
.albums_leather .body2_text {
  padding: 8px 8px 8px 16px;
}

.albums_leather .price {
  padding-left: 16px;
}

.price_buy {
  margin-left: 26px;
}

.handmade {
  display: flex;
  justify-content: space-between;
}
.description {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 4px 4px 4px 4px;
}
.leather_album .img {
  display: flex;
  justify-content: space-between;
}

.cart_button_normal {
  display: flex;
  justify-content: center;
}
.cart_button_normal :nth-child(2) {
  display: none;
}

.similar_products {
  background-image: linear-gradient(#353a8c, #2a5aa2);
  max-width: 1400px;
  padding: 24px;
}
.similar {
  display: flex;
  justify-content: space-between;
  max-width: 1040px;
  margin: 0 auto;
}
.similar_products .albums {
  flex-basis: calc(100% / 4);
}
.similar_products h3 {
  width: 1040px;
  color: #ffffff;
  margin: 0 auto;
}

.footer_leather .footer {
  margin-top: 0;
  background-color: #ffffff;
}


@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px 0 16px;
  }

  .menu_btn {
    z-index: -1;
  }

  .menu_bars {
    display: block;
    cursor: pointer;
  }

  .menu_bars:hover {
    cursor: pointer;
    background-color: #f3f4f8;
    transition: 0.1s ease;
  }

  .menu_bars:active {
    background-color: #cfd3e1;
  }

  .products {
    display: block;
    margin: 0 auto;
  }

  .photo_albums {
    margin: 0 auto;
    margin-top: 36px;
  }

  .frames {
    margin: 0 auto;
    margin-top: 21px;
  }

  .personalized_products {
    margin: 0 auto;
    margin-top: 21px;
  }
  .about {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
  }

  .product_related {
    margin-top: 24px;
  }

  .about_photo img {
    display: block;
    height: 327px;
  }
  .footer {
   
    border-top: 1px solid rgba(201, 202, 202, 0.8);
  }
  .contact_us {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact_us .contact {
   margin: 0 auto;
   
  }
    .contact_us .contact * {
      margin: 0 auto;
    }

    .contact .body1_text {
      margin-top: 24px;
      margin-bottom: 24px;
    }
    /* leather_products */
      .leather{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
      }

      .price_buy .handmade *{
        font-size:  21px;
        line-height: 32px;
      }

      .question {
        margin-top: 4rem;
        max-width:1400px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
      }

      .leather .leather_album {
        margin: 0 auto;
      
      } 
      .leather .leather_album :nth-child(2) {
        display: none;
      } 
       .leather  .cart_button_normal :nth-child(1) {
        display: none;
       }
       .leather  .cart_button_normal :nth-child(2) {
        z-index: 0;
        display: block;
       }
      .similar_products {
        width: 1400px;
        overflow: hidden;
      }


}



:root {
  /* Primary color palette */
  --primary-color: #353a8d;
  --accent-color: #40dd9c;
  --neutral-color: #36385a;

  /* Secondary color palette */
  --secondary_1-color: #e2e3e9;
  --secondary_2-color: #9c9db2;
  --secondary_3-color: #60627d;
  --secondary_4-color: #4b4d6c;
  --secondary_5-color: #36385a;
  --secondary_6-color: #222549;
  --secondary_7-color: #d8eff0;
  --secondary_8-color: #45888e;
  --secondary_9-color: #10246a;

  /* Semantic colors */
  --success-100-color: #bfdbb3;
  --success-500-color: #6aa64f;
  --success-900-color: #3c7425;

  --warning-100-color: #f2dea1;
  --warning-500-color: #bd8e00;
  --warning-900-color: #8f6b00;

  --error-100-color: #eca8a7;
  --error-500-color: #de6664;
  --error-900-color: #b33a38;

  /* H1 */
  --h1-font-family: "Libre Franklin", sans-serif;
  --h1-line-height: 4.31rem;
  --h1-font-size: 46px;
  --h1-font-weight: 600;
  --h1-text-color: var(--secondary_6-color);

  /* H2 */
  --h2-font-family: "Libre Franklin", sans-serif;
  --h2-line-height: 3.37rem;
  --h2-font-size: 37px;
  --h2-font-weight: 600;
  --h2-text-color: var(--secondary_6-color);

  /* H3 */

  --h3-font-family: "Libre Franklin", sans-serif;
  --h3-line-height: 2.75rem;
  --h3-font-size: 28px;
  --h3-font-weight: 600;
  --h3-text-color: var(--secondary_6-color);

  /* H4 */
  --h4-font-family: "Libre Franklin", sans-serif;
  --h4-line-height: 2rem;
  --h4-font-size: 21px;
  --h4-font-weight: 600;
  --h4-text-color: var(--secondary_6-color);

  /* Body 1 text */

  --body1-text-font-family: "Libre Franklin", sans-serif;
  --body1-text-weight: 400;
  --body1-font-size: 16px;
  --body1-text-line-height: 1.5rem;
  --body1-text-color: var(--secondary_6-color);

  /* Body 2 text  */

  --body2-text-font-family: "Libre Franklin", sans-serif;
  --body2-text-weight: 400;
  --body2-font-size: 14px;
  --body2-text-line-height: 1.5rem;
  --body2-text-color: var(--primary-color);

  /* Big button text */

  --big-button-font-family: "Libre Franklin", sans-serif;
  --big-button-weight: 700;
  --big-button-size: 16px;
  --big-button-line-height: 1.5rem;
  --big-button-text-color: var(--secondary_6-color);
  --big-button-letter-spacing: 1px;

  /* Small button text */

  --small-button-font-family: "Libre Franklin", sans-serif;
  --small-button-font-weight: 700;
  --small-button-size: 14px;
  --small-button-line-height: 1rem;
  --small-button-letter-spacing: 1px;
  --small-button-text-color: var(--secondary_6-color);

  /* Caption text */

  --caption-font-family: "Libre Franklin", sans-serif;
  --caption-weight: 500;
  --caption-size: 12px;
  --caption-line-height: 1rem;
  --caption-text-color: var(--secondary_6-color);
  --caption-text-align: center;

  /* Box shadow */
  --box-shadow-1: 0px 2px 4px rgba(8, 68, 73, 0.24),
    0px 4px 16px rgba(8, 68, 73, 0.35);
  --box-shadow-1-radius: 8px;
  --box-shadow-2: 0px 8px 24px rgba(8, 68, 73, 0.35);
  --box-shadow-2-radius: 8px;

  /* Font family */
  --font-family-franklin: "Libre Franklin", sans-serif;
}

h1 {
  font-family: var(--h1-font-family);
  line-height: var(--h1-line-height);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  color: var(--h1-text-color);
}

h2 {
  font-family: var(--h2-font-family);
  line-height: var(--h2-line-height);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  color: var(--h2-text-color);
}

h3 {
  font-family: var(--h3-font-family);
  line-height: var(--h3-line-height);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  color: var(--h3-text-color);
}

h4 {
  font-family: var(--h4-font-family);
  line-height: var(--h4-line-height);
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  color: var(--h4-text-color);
}

.body1_text {
  font-family: var(--body1-text-font-family);
  font-weight: var(--body1-text-weight);
  font-size: var(--body1-font-size);
  line-height: var(--body1-text-line-height);
  color: var(--body1-text-color);
}

.body2_text {
  font-family: var(--body2-text-font-family);
  font-weight: var(--body2-text-weight);
  font-size: var(--body2-font-size);
  line-height: var(--body2-text-line-height);
  color: var(--body2-text-color);
}

.button_big {
  font-family: var(--big-button-font-family);
  font-weight: var(--big-button-weight);
  font-size: var(--big-button-size);
  line-height: var(--big-button-line-height);
  color: var(--big-button-text-color);
  letter-spacing: var(--big-button-letter-spacing);
}

.button-small {
  font-family: var(--small-button-font-family);
  font-weight: var(--small-button-font-weight);
  font-size: var(--small-button-size);
  line-height: var(--small-button-line-height);
  letter-spacing: var(--small-button-letter-spacing);
  color: var(--small-button-text-color);
}

.caption {
  font-family: var(--caption-font-family);
  font-weight: var(--caption-weight);
  font-size: var(--caption-size);
  line-height: var(--caption-height);
  color: var(--caption-text-color);
  text-align: var(--caption-text-align);
}

.primary_palette .primary_color {
  color: var(--primary-color);
}
.primary_palette .accent_color {
  color: var(--accent-color);
}
.primary_palette .neutral_color {
  color: var(--neutral-color);
}

.secondary_palette .secondary_1 {
  color: var(--secondary_1-color);
}
.secondary_palette .secondary_2 {
  color: var(--secondary_2-color);
}
.secondary_palette .secondary_3 {
  color: var(--secondary_3-color);
}
.secondary_palette .secondary_4 {
  color: var(--secondary_4-color);
}
.secondary_palette .secondary_5 {
  color: var(--secondary_5-color);
}
.secondary-palette .secondary_6 {
  color: var(--secondary_6-color);
}
.secondary_palette .secondary_7 {
  color: var(--secondary_7-color);
}
.secondary_palette .secondary_8 {
  color: var(--secondary_8-color);
}
.secondary_palette .secondary_9 {
  color: var(--secondary_9-color);
}

.success-100 {
  color: var(--success-100-color);
}

.success-500 {
  color: var(--success-500-color);
}
.success-900 {
  color: var(--success-900-color);
}

.warning-100 {
  color: var(--warning-100-color);
}
.warning-500 {
  color: var(--warning-500-color);
}
.warning-900 {
  color: var(--warning-900-color);
}

.error-100 {
  color: var(--error-100-color);
}
.error-500 {
  color: var(--error-500-color);
}

.error-900 {
  color: var(--error-900-color);
}

/* Shadow */
.shadow-1 {
  color: black;
  width: 100px;
  height: 100px;
  box-shadow: var(--box-shadow-1);
  border-radius: var(--box-shadow-1-radius);
}

.shadow-2 {
  color: black;
  width: 100px;
  height: 100px;
  box-shadow: var(--box-shadow-2);
  border-radius: var(--box-shadow-2-radius);
}

/* Buttons */
.large_btn {
  border-radius: 4px;
  color: white;
  background-color: var(--primary-color);
  padding: 12px 24px 12px 24px;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: var(--font-family-franklin);
}

.normal_btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 12px 24px 12px 24px;

  color: #ffffff;
  font-family: var(--font-family-franklin);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
}

.small_btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 8px 24px 8px 24px;

  font-family: var(--font-family-franklin);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #ffffff;
}

/* Emfaza */
.accent_btn {
  margin-left: 100px;
  margin-bottom: 100px;

  padding: 8px 24px 8px 24px;
  background-color: var(--accent-color);
  border-radius: 4px;

  font-family: var(--font-family-franklin);
  font-weight: 700;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 1px;
  color: var(--primary-color);
}

.primary_btn {
  margin-left: 100px;
  margin-bottom: 100px;

  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 12px 24px 12px 24px;

  color: #ffffff;
  font-family: var(--font-family-franklin);
  font-weight: 700;
  font-size: 14px;

  line-height: 16px;
  letter-spacing: 1px;
}

.secondary_btn {
  margin-left: 100px;
  margin-bottom: 100px;

  padding: 8px 24px 8px 24px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid var(--secondary_9-color);
  box-sizing: border-box;

  color: #353a8c;
  font-family: var(--font-family-franklin);
  font-weight: 700;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 1px;
}

.tertiary_btn {
  padding: 8px 24px 8px 24px;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: var(--font-family-franklin);
  font-weight: 700;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 1px;
  color: var(--secondary_9-color);
}

/* Anatomy - States */
/* idle */
.state_idle {
  border-radius: 4px;
  opacity: 10%;
  background-color: #ffffff;
}

/* hover state */
.state_hover {
  background-color: #ffffff;

  border-radius: 4px;
  opacity: 10%;
}
/* Press state */
.state_press {
  
  background-color: var(--primary-color);
  border-radius: 4px;
  opacity: 5%;
}

/* Button Emphasis */
.accent_emphasis {
  border-radius: 4px;
  background-color: var(--accent-color);
}

.primary_emphasis {
  border-radius: 4px;
  background-color: var(--primary-color);
}
.secondary_emphasis {
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  background-color: #ffffff;
}

.disabled_emphasis {
  border-radius: 4px;
  background-color: #e2e3e9;
}

.elevation_none {
  border-radius: 4px;
  background-color: #ffffff;
}

.big_shadow {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(8, 68, 73, 0.24),
    0px 4px 16px rgba(8, 68, 73, 0.35);
}

/* Tabs */
.tab .active_btn {
  padding: 5px 8px 5px 8px;
  background-color: #ffffff;
  box-shadow: inset 0px -2px 0px var(--primary-color);
}

.tab .active_btn .active_btn_text {
  font-family: var(--font-family-franklin);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary_9-color);
}

.idle_btn {
  padding: 5px 8px 5px 8px;
  background-color: #ffffff;
  font-family: var(--font-family-franklin);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #4b4d6c;
  text-decoration: none;
}

.idle_btn:hover {
  color: var(--secondary4-color);
  background-color: #d8eff0;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s ease;
}

.idle_btn:active {
  background-color: #ffffff;
  box-shadow: inset 0px -2px 0px #353a8c;
  background-color: #ffffff;
  border-radius: 0;
  color: var(--secondary_9-color);

  font-family: var(--font-family-franklin);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

/* Accent cart buttons */
.cart_normal_btn {
  padding: 16px 24px 16px 24px;
  color: #ffffff;
  border-radius: 4px;
  background-color: var(--primary-color);
  font-family: var(--font-family-franklin);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
}

.cart_normal_btn:hover {
  cursor: pointer;
  transition: 0.2s ease-in;
  background-color: #4c53b1;
  box-shadow: 0 4px 16px rgba(16, 36, 106, 0.25);
}

.cart_normal_btn:focus {
  background-color: #4c53b1;
  border: 3px solid #70a6f7;
}

.cart_normal_btn:active {
  background-color: var(--secondary_9-color);
}

.cart_small_btn {
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  background-color: var(--primary-color);
  color: #ffffff;
  font-family: var(--font-family-franklin);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
}

.cart_small_btn:hover {
  cursor: pointer;
  transition: 0.2s ease-in;
  background-color: #4c53b1;
  box-shadow: 0px 4px 16px rgba(16, 36, 106, 0.25);
}

.cart_small_btn:active {
  background-color: var(--secondary_9-color);
  color: #ffffff;
}

/* Cart icons */
.cart_icon_normal {
  cursor: pointer;
  padding: 16px 16px 16px 16px;
  border-radius: 4px;
  background-color: #ffffff;
  line-height: 16px;
  color: var(--primary-color);
}

.cart_icon_normal:hover {
  background-color: #f3f4f8;
  transition: 0.1s ease;
}

.cart_icon_normal:active {
  background-color: #cfd3e1;
}

.cart_icon_small {
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
  background-color: #ffffff;
  color: var(--primary-color);
}

.cart_icon_small:hover {
  background-color: #f3f4f8;
  transition: 0.1s ease;
}

.cart_icon_small:active {
  background-color: #cfd3e1;
}
